@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
body
	font-family: 'Quicksand', sans-serif

.width480
	max-width: 480px

.width720
	max-width: 720px

.width250x
	width: 250px

.height250x
	height: 250px

.width1023
	max-width: 1023px
